{% extends 'feed.twig' %}

{% block feed %}
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="{{ url('stylesheet.xsl') }}"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"
>
  <channel>
    <title><![CDATA[{{ site.title }}]]></title>
    <description><![CDATA[{{ site.description }}]]></description>
    <lastBuildDate>{{ date|date('c') }}</lastBuildDate>
    <link>{{ url(page, {canonical: true}) }}</link>
    <language>{{ site.language|default('en') }}</language>
    {%- if site.copyright is defined and site.copyright ~%}
    <copyright><![CDATA[{{ site.copyright }}]]></copyright>
    {%- endif ~%}
    <generator>{{ cecil.url }}</generator>
    {#- podcast ~#}
    <itunes:subtitle><![CDATA[{{ site.baseline }}]]></itunes:subtitle>
    <itunes:summary><![CDATA[{{ site.description }}]]></itunes:summary>
    <googleplay:description><![CDATA[{{ site.description }}]]></googleplay:description>
    <itunes:owner>
      <itunes:name><![CDATA[{{ site.podcast.owner.name }}]]></itunes:name>
      <itunes:email>{{ site.podcast.owner.email }}</itunes:email>
    </itunes:owner>
    <googleplay:owner>{{ site.podcast.owner.email }}</googleplay:owner>
    {%- set cover = asset(site.podcast.image) ~%}
    <image>
      <url>{{ cover|url({canonical: true}) }}</url>
      <title><![CDATA[{{ site.title }}]]></title>
      <link>{{ url(page, {canonical: true}) }}</link>
      <description><![CDATA[{{ site.title }}]]></description>
      <width>{{ cover.width }}</width>
      <height>{{ cover.height }}</height>
    </image>
    <itunes:image href="{{ cover|url({canonical: true}) }}" />
    <googleplay:image href="{{ cover|url({canonical: true}) }}" />
    {%- if site.podcast.author is defined and site.podcast.author ~%}
    <itunes:author><![CDATA[{{ site.podcast.author }}]]></itunes:author>
    <googleplay:author><![CDATA[{{ site.podcast.author }}]]></googleplay:author>
    {%- endif ~%}
    {%- if site.podcast.categories is defined and site.podcast.categories ~%}
    {%- for category in site.podcast.categories %}{# https://podcasters.apple.com/support/1691-apple-podcasts-categories ~#}
    <itunes:category text="{{ category|e }}" />
    <googleplay:category text="{{ category|e }}" />
    {%- endfor ~%}
    {%- endif ~%}
    <itunes:type>{{ site.podcast.type|default('episodic') }}</itunes:type>{# 'episodic' or 'serial' ~#}
    <itunes:explicit>{{ site.podcast.explicit|default('no') }}</itunes:explicit>
    <googleplay:explicit>{{ site.podcast.explicit|default('no') }}</googleplay:explicit>
    <itunes:block>{{ item.episode.block|default('no') }}</itunes:block>
    <googleplay:block>{{ item.episode.block|default('no') }}</googleplay:block>
    {%- if site.podcast.newfeedurl is defined and site.podcast.newfeedurl ~%}
    <itunes:new-feed-url>{{ site.podcast.newfeedurl }}</itunes:new-feed-url>
    {%- endif -%}
    {#- /podcast ~#}
    {%- for item in pages|sort_by_date ~%}
    {%- set file = asset(item.episode.file) ~%}
    <item>
      <guid>{{ url(item, {canonical: true}) }}</guid>
      <title><![CDATA[{{ item.title }}]]></title>
      <description><![CDATA[{{ item.content }}]]></description>
      <pubDate>{{ item.date|date('c') }}</pubDate>
      <link>{{ url(item, {canonical: true}) }}</link>
      {#- episode ~#}
      {%- if item.episode.image is defined ~%}
      {%- set item_cover = asset(item.episode.image) ~%}
      <itunes:image href="{{ item_cover|url({canonical: true}) }}" />
      {%- endif ~%}
      <itunes:summary><![CDATA[{{ item.content }}]]></itunes:summary>
      <googleplay:description><![CDATA[{{ item.content }}]]></googleplay:description>
      <enclosure url="{{ file|url({canonical: true}) }}" length="{{ file.size }}" type="{{ file.subtype }}" />
      <itunes:duration>{{ file.audio.duration|round }}</itunes:duration>
      <itunes:season>{{ item.episode.season|default('0') }}</itunes:season>
      <itunes:episode>{{ item.episode.number|default('0') }}</itunes:episode>
      <itunes:episodeType>{{ item.episode.type|default('full') }}</itunes:episodeType>{# 'full', 'trailer' or 'bonus' ~#}
      <itunes:explicit>{{ item.episode.explicit|default('no') }}</itunes:explicit>
      <googleplay:explicit>{{ item.episode.explicit|default('no') }}</googleplay:explicit>
      <itunes:block>{{ item.episode.block|default('no') }}</itunes:block>
      <googleplay:block>{{ item.episode.block|default('no') }}</googleplay:block>
      {#- /episode ~#}
    </item>
    {%- endfor ~%}
  </channel>
</rss>
{% endblock feed %}
