{# audio player #}
{% set file = asset(page.episode.file) %}
<audio controls src="{{ file|url }}" id="audioplayer"></audio>
{# links #}
{% if site.podcast.player.links.download or site.podcast.player.links.open %}
<div class="links">
{% if site.podcast.player.links.download %}
  <a href="{{ file|url }}" target="_blank" rel="noopener" download>Download file</a>
{% endif %}
{% if site.podcast.player.links.download and site.podcast.player.links.open %}
&nbsp;|&nbsp;
{% endif %}
{% if site.podcast.player.links.open %}
  <a href="{{ file|url }}" target="_blank" rel="noopener">Play in new window</a>
{% endif %}
</div>
{% endif %}
{# CSS #}
<style>
  audio {
    border-radius: 30px;
  }
  div.links {
    text-align: center;
  }
</style>
{# JS super powers #}
<script>{% apply minify_js %}
  window.addEventListener('DOMContentLoaded', (event) => {
    const audioplayer = document.getElementById('audioplayer');
    // loading
    audioplayer.onloadedmetadata = (event) => {
    // if onloadedmetadata don't works use timeout...
    //setTimeout(function() {
      // resume position
      const startTime = sessionStorage.getItem('{{ file }}');
      console.log('Player startTime:', startTime);
      if (startTime !== null) {
        if (startTime == 'ended') {
          audioplayer.currentTime = audioplayer.duration;
        } else {
          audioplayer.currentTime = startTime;
        }
      }
      // autoplay
      const hash = window.location.hash
      if (hash == '#autoplay') {
        audioplayer.play();
      }
    //}, 1000);
    };
    // playing
    audioplayer.addEventListener('timeupdate', function() {
      // save position
      //if (audioplayer.currentTime > 0) {
        sessionStorage.setItem('{{ file }}', audioplayer.currentTime);
      //}
      // update page's title...
      const title = '{{ page.title }} (' + formatTime(audioplayer.currentTime) + ')';
      document.title = title;
    });
    // ended
    audioplayer.addEventListener('ended', function() {
      sessionStorage.setItem('{{ file }}', 'ended');
    });
    // media session
    if ('mediaSession' in navigator) {
      // media meta data
      navigator.mediaSession.metadata = new MediaMetadata({
        title: '{{ page.title }}',
        artist: '{{ page.episode.author|default(site.podcast.author) }}',
        {%- set image = asset(page.episode.image|default(site.podcast.image)) ~%}
        artwork: [
          { src: '{{ image|url }}', sizes: '{{ image.width }}x{{ image.height }}', type: '{{ image.subtype }}' },
        ]
      });
      // display constrols
      const defaultSkipTime = 10;
      try {
        // backward (10s)
        navigator.mediaSession.setActionHandler('seekbackward', (details) => {
          const skipTime = details.seekOffset || defaultSkipTime;
          audioplayer.currentTime = Math.max(audioplayer.currentTime - skipTime, 0);
        });
        // forward (10s)
        navigator.mediaSession.setActionHandler('seekforward', (details) => {
          const skipTime = details.seekOffset || defaultSkipTime;
          audioplayer.currentTime = Math.min(audioplayer.currentTime + skipTime, audioplayer.duration);
        });
        {%- if page.prev is defined ~%}
        // previous episode
        navigator.mediaSession.setActionHandler('previoustrack', () => {
          window.location = '{{ url(page.prev.path) }}#autoplay';
        });
        {%- endif ~%}
        {%- if page.next is defined ~%}
        // next episode
        navigator.mediaSession.setActionHandler('nexttrack', () => {
          window.location = '{{ url(page.next.path) }}#autoplay';
        });
        {%- endif ~%}
      } catch (error) {
        console.log('The Media Session action "${action}" is not supported yet.');
      }
    }
    // format time
    function formatTime(time) {
      let m = Math.floor(time % 3600 / 60).toString().padStart(2,'0'),
          s = Math.floor(time % 60).toString().padStart(2,'0');

      return m + ':' + s;
    }
  });
{% endapply %}</script>
